*{
    font-family: 'Impact', sans-serif;
}
html{
      background-color: #220055;
}
.wheel{
  position: absolute;
  max-width: 40%;
  width: 550px;
  right: 25%;
  top: -300px;
}
body, .panel{
  display: flex;
  justify-content: center;
  align-items: middle;
}
button{
  margin: 0 auto;
  height: 200px;
  width: 300px;
  font-size: 36px;
  border: 5px solid gold;
  border-radius: 10%;
  background-color: gold;
  font-weight: bold;
}
button:hover{
    background-color: yellow;
    cursor: pointer;
}
button:active{
    background-color: #0088DD;
    color: white;
}
    
.prompt{
  position: absolute;
  top: 35%;
  left: 25%;
}
body{
  overflow: hidden;
}
.panel{
  border: 1px solid black;
  height: 200px;
  font-size: 24px;
  flex-direction: column;
  text-align: center;
}
.panel:nth-of-type(3n+0){
  background-color: green;
  color: #DDFFDD;
}
.panel:nth-of-type(3n+1){
  background-color: blue;
  color: cyan;
}
.panel:nth-of-type(3n+2){
  background-color: red;
  color: pink;
}
.selector{
  z-index: 2;
  position: absolute;
  border-left: 120px solid orange; 
  border-top: 90px solid transparent; 
  border-bottom: 90px solid transparent; 
  border-right: 0; 
  top: 50%; 
  box-style: border-box; 
  height: 0px;
}

@media (max-width: 1700px){
    button{
        left: 5vw;
        width: 20vw;
        top: 5vh;
        height: 15vh;
        font-size: 24px;
    }
    .wheel{
        right: 10vw;
        max-width: 50vw;
    }
}
    
